.header {
  padding: 0.75rem;
  margin: 0.9rem 0;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
}

.pad {
  padding: 0 0.25rem;
}

.container {
  height: 100%;
}

.input-margin {
  margin: 0.5rem 0;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
}

.item-col {
  display: flex;
  padding: 0.5rem;
  flex: 1;
}

@media screen and (max-width: 600px) {
  .item-row {
    flex-direction: column;
  }
}

.damage-output {
  text-align: center;
  position: relative;
}

.damage-output * {
  font-family: ShinMegamiTensei !important;
}

.miss-text {
  font-size: 30px;
  font-weight: 800;
  color: rgb(221, 219, 201);
}

.miss-text-animated {
  animation: missAnim 250ms cubic-bezier(0, 1, 0.8, 1);
}

.weak-flavor-text {
  color: rgb(154, 91, 170);
  font-size: 24px;
  font-weight: 800;
  transform-origin: top center;
  margin-top: 2rem;
}

.critical-flavor-text {
  color: rgb(214, 63, 36);
  font-weight: 800;
  transform-origin: top center;
  font-size: 24px;
  margin-top: 2rem;
}

.critical-animated {
  animation: criticalAnim 300ms cubic-bezier(0, 1, 0.8, 1);
}

@keyframes criticalAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes missAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}



.body_container {
  padding: 1rem;
}