<div class="container" style="overflow: hidden">
  <div class="item-row">
    <div class="item-col">
      <div class="section">
        <div class="section-header">
          <span>Skill Info</span>
        </div>
        <div class="section-content">
          <div class="item-row">
            <div class="pad">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Skill Type</mat-label>
                <mat-select [formControl]="selectedType" required>
                  <mat-option *ngFor="let type of skillTypes" [value]="type.id">
                    {{type.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="selectedType.hasError('required')">Select a Skill Type.</mat-error>
              </mat-form-field>
            </div>
            <div class="pad">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Skill Level</mat-label>
                <mat-select [(value)]="selectedSkillLvl" required>
                  <mat-option *ngFor="let lvl of skillLevel" [value]="lvl.id">
                    {{lvl.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="pad">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Skill Power</mat-label>
                <input matInput type="number" min="1" [(ngModel)]="pSkillPow">
              </mat-form-field>
            </div>
          </div>
          <div class="item-row">
            <div class="pad item-row">
              <mat-checkbox class="check-margin" [disabled]="selectedType.value !== 3" [(ngModel)]="isWeak">
                Weakness
              </mat-checkbox>
              <mat-checkbox class="check-margin" [(ngModel)]="isFocus">
                {{selectedType.value === 3 ? 'Mind Charge' : 'Focus'}}
              </mat-checkbox>
              <mat-checkbox class="check-margin" [(ngModel)]="isMulti">
                Multi-target
              </mat-checkbox>
            </div>
            <div class="input-margin pad" *ngIf="isMulti">
              <mat-form-field appearance="legacy">
                <mat-label>Enemy Quantity</mat-label>
                <input [formControl]="enemyQnty" type="number" matInput>
                <mat-error *ngIf="enemyQnty.hasError('required')">This field is required.</mat-error>
                <mat-error *ngIf="enemyQnty.hasError('min')">Número mínimo de inimigos é 1.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-col">
      <div class="section">
        <div class="section-header">
          <span>Player Stats</span>
        </div>
        <div class="section-content">
          <div class="item-row">
            <div class="pad" *ngIf="selectedType.value !== 2">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Level</mat-label>
                <input matInput type="number" [formControl]="playerLevel" max="256" min="1">
                <mat-error *ngIf="playerLevel.hasError('max')">Max Level is 256.</mat-error>
                <mat-error *ngIf="playerLevel.hasError('min')">Mín Level is 1.</mat-error>
                <mat-error *ngIf="playerLevel.hasError('required')">This field is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="pad" *ngIf="selectedType.value === 2">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Total HP</mat-label>
                <input matInput type="number" [formControl]="playerHP" max="999" min="1">
                <mat-error *ngIf="playerHP.hasError('max')">Max HP is 999.</mat-error>
                <mat-error *ngIf="playerHP.hasError('min')">Min HP is 1.</mat-error>
                <mat-error *ngIf="playerHP.hasError('required')">This field is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="pad">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>{{selectedType.value !== 3 ? 'ST' : 'MA'}}</mat-label>
                <input matInput type="number" [formControl]="playerAttackStat">
                <mat-error *ngIf="playerAttackStat.hasError('max')">Stat Máximo é 40.</mat-error>
                <mat-error *ngIf="playerAttackStat.hasError('min')">Stat Mínimo é 1.</mat-error>
                <mat-error *ngIf="playerAttackStat.hasError('required')">Este campo é Obrigatório.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="item-row">
            <div class="pad">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Agility Stat</mat-label>
                <input type="number" matInput [formControl]="playerAgility">
                <mat-error *ngIf="playerAgility.hasError('max')">Stat Máximo é 40.</mat-error>
                <mat-error *ngIf="playerAgility.hasError('min')">Stat Mínimo é 1.</mat-error>
                <mat-error *ngIf="playerAgility.hasError('required')">Este campo é Obrigatório.</mat-error>
              </mat-form-field>
            </div>
            <div class="pad">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Luck Stat</mat-label>
                <input type="number" matInput [formControl]="playerLuck">
                <mat-error *ngIf="playerLuck.hasError('max')">Stat Máximo é 40.</mat-error>
                <mat-error *ngIf="playerLuck.hasError('min')">Stat Mínimo é 1.</mat-error>
                <mat-error *ngIf="playerLuck.hasError('required')">Este campo é Obrigatório.</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-col">
      <div class="section">
        <div class="section-header">
          <span>Buff Settings</span>
        </div>
        <div class="section-content">
          <div class="flex-container flex-column" *ngFor="let buff of buffs">
            <div class="flex-container flex-column">
              <div>
                <mat-checkbox [(ngModel)]="buff.selected" matTooltip="{{buff.desc}}" matTooltipPosition="right">
                  {{buff.name}}
                </mat-checkbox>
              </div>
              <div class="input-margin" *ngIf="buff.selected">
                <mat-form-field appearance="legacy">
                  <mat-label>Stacks</mat-label>
                  <input [(ngModel)]="buff.stacks" [disabled]="!buff.selected" matInput type="number" max="2" min="0">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-col">
      <div class="section">
        <div class="section-header">
          <span>DeBuff Settings</span>
        </div>
        <div class="section-content">
          <div class="flex-container flex-column" *ngFor="let debuff of debuffs">
            <div class="flex-container flex-column">
              <div>
                <mat-checkbox [(ngModel)]="debuff.selected" matTooltip="{{debuff.desc}}" matTooltipPosition="right">
                  {{debuff.name}}
                </mat-checkbox>
              </div>
              <div class="input-margin" *ngIf="debuff.selected">
                <mat-form-field appearance="legacy">
                  <mat-label>Stacks</mat-label>
                  <input [(ngModel)]="debuff.stacks" matInput type="number" max="2" min="0">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-1 text-center" style="margin-bottom: 2rem;">
    <button mat-raised-button color="primary" (click)="calcDmg()">ATTACK</button>
  </div>
  <div class="damage-output p-1">
    <div #damageOutput>
    </div>
    <p *ngIf="accuracyResult === 'ok_weak'" class="weak-flavor-text" [class.critical-animated]="!disabledAnimations()">
      WEAK
    </p>
    <p class="miss-text" *ngIf="accuracyResult === 'miss'" [class.miss-text-animated]="!disabledAnimations()">
      MISS
    </p>
    <p *ngIf="accuracyResult === 'critical'" class="critical-flavor-text"
      [class.critical-animated]="!disabledAnimations()">
      CRITICAL
    </p>
  </div>
</div>