<div class="wrapper">
  <div class="header">
    <div></div>
    <h1>Calculate Damage</h1>
    <div>
      <a mat-icon-button href="https://github.com/heitorpagotto/rpgDamageCalc" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <button mat-icon-button (click)="openConfigDialog()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Combat">
      <div class="container">
        <div class="item-row">
          <div class="item-col">
            <div class="section">
              <div class="section-header">
                <span>Skill Info</span>
              </div>
              <div class="section-content">
                <div class="item-row">
                  <div class="pad">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>Tipo de Skill</mat-label>
                      <mat-select [formControl]="selectedType" required>
                        <mat-option *ngFor="let type of skillTypes" [value]="type.id">
                          {{type.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="selectedType.hasError('required')">Selecione um tipo de Skill.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="pad">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>Nível da Skill</mat-label>
                      <mat-select [(value)]="selectedSkillLvl" required>
                        <mat-option *ngFor="let lvl of skillLevel" [value]="lvl.id">
                          {{lvl.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="pad">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>Skill Power</mat-label>
                      <input matInput type="number" min="1" [(ngModel)]="pSkillPow">
                    </mat-form-field>
                  </div>
                </div>
                <div class="item-row">
                  <div class="pad item-row">
                    <mat-checkbox class="check-margin" [disabled]="selectedType.value !== 3" [(ngModel)]="isWeak">
                      Fraqueza
                    </mat-checkbox>
                    <mat-checkbox class="check-margin" [(ngModel)]="isFocus">
                      {{selectedType.value === 3 ? 'Mind Charge' : 'Focus'}}
                    </mat-checkbox>
                    <mat-checkbox class="check-margin" [(ngModel)]="isMulti">
                      Multi-target
                    </mat-checkbox>
                  </div>
                  <div class="input-margin pad" *ngIf="isMulti">
                    <mat-form-field appearance="legacy">
                      <mat-label>Quantidade de Inimigos</mat-label>
                      <input [formControl]="enemyQnty" type="number" matInput>
                      <mat-error *ngIf="enemyQnty.hasError('required')">Este campo é obrigatório.</mat-error>
                      <mat-error *ngIf="enemyQnty.hasError('min')">Número mínimo de inimigos é 1.</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-col">
            <div class="section">
              <div class="section-header">
                <span>Player Stats</span>
              </div>
              <div class="section-content">
                <div class="item-row">
                  <div class="pad" *ngIf="selectedType.value !== 2">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>Level</mat-label>
                      <input matInput type="number" [formControl]="playerLevel" max="256" min="1">
                      <mat-error *ngIf="playerLevel.hasError('max')">Level Máximo é 256.</mat-error>
                      <mat-error *ngIf="playerLevel.hasError('min')">Level Mínimo é 1.</mat-error>
                      <mat-error *ngIf="playerLevel.hasError('required')">Este campo é Obrigatório.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="pad" *ngIf="selectedType.value === 2">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>HP Total</mat-label>
                      <input matInput type="number" [formControl]="playerHP" max="999" min="1">
                      <mat-error *ngIf="playerHP.hasError('max')">HP Máximo é 999.</mat-error>
                      <mat-error *ngIf="playerHP.hasError('min')">HP Mínimo é 1.</mat-error>
                      <mat-error *ngIf="playerHP.hasError('required')">Este campo é Obrigatório.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="pad">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>{{selectedType.value !== 3 ? 'ST' : 'MA'}}</mat-label>
                      <input matInput type="number" [formControl]="playerAttackStat">
                      <mat-error *ngIf="playerAttackStat.hasError('max')">Stat Máximo é 40.</mat-error>
                      <mat-error *ngIf="playerAttackStat.hasError('min')">Stat Mínimo é 1.</mat-error>
                      <mat-error *ngIf="playerAttackStat.hasError('required')">Este campo é Obrigatório.</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="item-row">
                  <div class="pad">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>Agility Stat</mat-label>
                      <input type="number" matInput [formControl]="playerAgility">
                      <mat-error *ngIf="playerAgility.hasError('max')">Stat Máximo é 40.</mat-error>
                      <mat-error *ngIf="playerAgility.hasError('min')">Stat Mínimo é 1.</mat-error>
                      <mat-error *ngIf="playerAgility.hasError('required')">Este campo é Obrigatório.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="pad">
                    <mat-form-field color="accent" appearance="outline">
                      <mat-label>Luck Stat</mat-label>
                      <input type="number" matInput [formControl]="playerLuck">
                      <mat-error *ngIf="playerLuck.hasError('max')">Stat Máximo é 40.</mat-error>
                      <mat-error *ngIf="playerLuck.hasError('min')">Stat Mínimo é 1.</mat-error>
                      <mat-error *ngIf="playerLuck.hasError('required')">Este campo é Obrigatório.</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-col">
            <div class="section">
              <div class="section-header">
                <span>Buff Settings</span>
              </div>
              <div class="section-content">
                <div class="flex-container flex-column" *ngFor="let buff of buffs">
                  <div class="flex-container flex-column">
                    <div>
                      <mat-checkbox [(ngModel)]="buff.selected" matTooltip="{{buff.desc}}" matTooltipPosition="right">
                        {{buff.name}}
                      </mat-checkbox>
                    </div>
                    <div class="input-margin" *ngIf="buff.selected">
                      <mat-form-field appearance="legacy">
                        <mat-label>Stacks</mat-label>
                        <input [(ngModel)]="buff.stacks" [disabled]="!buff.selected" matInput type="number" max="2"
                          min="0">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-col">
            <div class="section">
              <div class="section-header">
                <span>DeBuff Settings</span>
              </div>
              <div class="section-content">
                <div class="flex-container flex-column" *ngFor="let debuff of debuffs">
                  <div class="flex-container flex-column">
                    <div>
                      <mat-checkbox [(ngModel)]="debuff.selected" matTooltip="{{debuff.desc}}"
                        matTooltipPosition="right">
                        {{debuff.name}}
                      </mat-checkbox>
                    </div>
                    <div class="input-margin" *ngIf="debuff.selected">
                      <mat-form-field appearance="legacy">
                        <mat-label>Stacks</mat-label>
                        <input [(ngModel)]="debuff.stacks" matInput type="number" max="2" min="0">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-1 text-center" style="margin-bottom: 2rem;">
          <button mat-raised-button color="primary" (click)="calcDmg()">ATTACK</button>
        </div>
        <div class="damage-output p-1">
          <div #damageOutput>
          </div>
          <p *ngIf="accuracyResult === 'ok_weak'" class="weak-flavor-text"
            [class.critical-animated]="!disabledAnimations()">
            WEAK
          </p>
          <p class="miss-text" *ngIf="accuracyResult === 'miss'" [class.miss-text-animated]="!disabledAnimations()">
            MISS
          </p>
          <p *ngIf="accuracyResult === 'critical'" class="critical-flavor-text"
            [class.critical-animated]="!disabledAnimations()">
            CRITICAL
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Cathedral of Shadows">
      <div class="text-center p-1">
        <h2>Come back when you have gathered more demons...</h2>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>