<h1>
  {{isEdit === true ? 'Edit ' : 'Add '}}
  a Party Member
</h1>
<div>
  <form [formGroup]="partyMemberForm">
    <div class="content_row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Nickname</mat-label>
        <input matInput type="text" formControlName="nickname">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Race</mat-label>
        <input [readonly]="isEdit" matInput type="text" formControlName="race">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="content_row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Current Level</mat-label>
        <input [readonly]="isEdit" matInput type="number" formControlName="level">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Current EXP</mat-label>
        <input matInput max="{{partyMemberForm.get('totalEXP')?.value - 1}}" type="number" formControlName="currentEXP">
        <mat-error *ngIf="partyMemberForm.get('currentEXP')?.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="partyMemberForm.get('currentEXP')?.hasError('max')">Max EXP is
          {{partyMemberForm.get('totalEXP')?.value - 1}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Total EXP</mat-label>
        <input [readonly]="isEdit" matInput type="number" formControlName="totalEXP">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="content_row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Current HP</mat-label>
        <input matInput type="number" formControlName="currentHP" max="{{partyMemberForm.get('totalHP')?.value}}">
        <mat-error *ngIf="partyMemberForm.get('currentHP')?.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="partyMemberForm.get('currentHP')?.hasError('max')">Max HP is
          {{partyMemberForm.get('totalHP')?.value}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Total HP</mat-label>
        <input [readonly]="isEdit" matInput type="number" formControlName="totalHP">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Current MP</mat-label>
        <input matInput type="number" formControlName="currentMP" max="{{partyMemberForm.get('totalMP')?.value}}">
        <mat-error *ngIf="partyMemberForm.get('currentMP')?.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="partyMemberForm.get('currentMP')?.hasError('max')">Max MP is
          {{partyMemberForm.get('totalMP')?.value}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Total MP</mat-label>
        <input [readonly]="isEdit" matInput type="number" formControlName="totalMP">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
  </form>
  <form [formGroup]="statsForm">
    <div class="content_row stat_row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>ST</mat-label>
        <input matInput type="number" formControlName="ST">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>MA</mat-label>
        <input matInput type="number" formControlName="MA">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>EN</mat-label>
        <input matInput type="number" formControlName="EN">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>AG</mat-label>
        <input matInput type="number" formControlName="AG">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>LU</mat-label>
        <input matInput type="number" formControlName="LU">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div>
    <div class="header_container align-items-center justify-between" style="padding: 0.5rem">
      <h3 style="font-size: 1.5rem; margin: 0">Skills</h3>
      <button type="button" mat-mini-fab color="primary" (click)="openSkillDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="p-1 text-center" *ngIf="skills.length === 0">
      No Skills Found
    </div>
    <div *ngFor="let skill of skills" class="card-spacing">
      <mat-card mat-ripple>
        <div class="flex-container justify-between align-items-center">
          <span class="skill_name">{{skill.name}}</span>
          <span>{{skill.description}}</span>
          <span>{{skill.skillElement | enumConversion }}</span>
          <ng-container *ngIf="!skill.description.includes('Regular attack') && skill.skillElement !== 12">
            <span class="flex-container align-items-center">
              {{skill.cost}}
              <span class="cost_type {{skill.skillType === 3 ? 'mp_type' : 'hp_type'}}">
                {{skill.skillType === 3 ? 'MP' : 'HP'}}
              </span>
            </span>
            <div (click)="$event.stopPropagation()">
              <button type="button" mat-icon-button (click)="editSkillDialog(skill)">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" mat-icon-button (click)="removeSkill(skill.id)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div class="text-center p-1 ">
  <button type="button" mat-flat-button (click)="cancelAddition()" class="mr-1">Cancel</button>
  <button mat-raised-button color="primary" (click)="addPartyMember()">
    {{isEdit === true ? 'Edit ' : 'Add '}}
    Party Member
  </button>
</div>