.card-spacing {
  padding: 0.25rem 1rem;
}

mat-card *{
  user-select: none;
}

mat-card span {
  font-size: 16px;
  font-weight: 300;
}

.skill_name {
  font-weight: 500 !important;
}

.cost_type {
  font-size: 12px !important;
  margin-left: 0.25rem !important;
  font-weight: 800 !important;
}

.cost_type.mp_type {
  color: rgb(144, 29, 252);
}

.cost_type.hp_type {
  color: rgb(255, 94, 0);
}