<ng-container *ngIf="addPartyMember">
  <div class="body_container">
    <app-add-party-member [isEdit]="isToEditPartyMember" [partyMember]="selectedPartyMember"
      (returnFromAddPartyMember)="$event === true ? changeView() : false">
    </app-add-party-member>
  </div>
</ng-container>
<ng-container *ngIf="!addPartyMember">
  <div class="text-end">
    <button mat-flat-button (click)="downloadPartyMembers()" class="mr-1">
      <mat-icon>file_download</mat-icon>
      Download Party
    </button>
    <button mat-flat-button class="mr-1" (click)="file.click()">
      <mat-icon>file_upload</mat-icon>
      Upload Party
      <input type="file" hidden #file (change)="uploadPartyMembers($event)">
    </button>
    <button mat-fab color="primary"
      (click)="selectedPartyMember = undefined; isToEditPartyMember = false; addPartyMember = true"
      title="Add a Party Member">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="partyMembers.length === 0">
    <div class="text-center" t>
      <span>
        No Party Members
      </span>
    </div>
  </ng-container>
  <div style="margin: 0.5rem 0;" *ngFor="let member of partyMembers">
    <mat-card>
      <div class="flex-container information">
        <div class="">
          <div>
            <small>{{member.race}}</small>
            <h2>
              {{member.name}}
              <ng-container *ngIf="member.nickname !== null">
                ({{member.nickname}})
              </ng-container>
            </h2>
          </div>
          <span mat-card-subtitle>Lv. {{member.level}}</span>
        </div>
        <div class="flex-container flex-column">
          <div>
            <span>
              {{member.currentHP}}/{{member.totalHP}}
              <span>HP</span>
            </span>
            <mat-progress-bar [color]="'warn'" [value]=" (member.currentHP * 100) / member.totalHP">
            </mat-progress-bar>
          </div>
          <div>
            <span>
              {{member.currentMP}}/{{member.totalMP}}
              <span>MP</span>
            </span>
            <mat-progress-bar [value]="(member.currentMP * 100) / member.totalMP">
            </mat-progress-bar>
          </div>
          <div>
            <span>
              {{member.currentEXP}}/{{member.totalEXP}}
              <span>XP</span>
            </span>
            <mat-progress-bar color="accent" [value]="(member.currentEXP * 100) / member.totalEXP">
            </mat-progress-bar>
          </div>
        </div>
      </div>
      <div class="flex-container stats">
        <div class="stat_container">
          <span class="title">ST</span>
          <span>{{member.stats.ST}}</span>
        </div>
        <div class="stat_container">
          <span class="title">MA</span>
          <span>{{member.stats.MA}}</span>
        </div>
        <div class="stat_container">
          <span class="title">EN</span>
          <span>{{member.stats.EN}}</span>
        </div>
        <div class="stat_container">
          <span class="title">AG</span>
          <span>{{member.stats.AG}}</span>
        </div>
        <div class="stat_container">
          <span class="title">LU</span>
          <span>{{member.stats.LU}}</span>
        </div>
      </div>
      <div class="flex-container" style="margin-top: 1rem">
        <button mat-flat-button (click)="editPartyMember(member)">
          <mat-icon>edit</mat-icon>
          Edit Party Member
        </button>
        <button mat-flat-button (click)="deletePartyMember(member.id!)">
          <mat-icon>delete</mat-icon>
          Delete Party Member
        </button>
      </div>
    </mat-card>
  </div>
</ng-container>