<h1 mat-dialog-title>{{data.isEdit === true ? 'Edit Skill' : 'Add Skill'}}</h1>
<form [formGroup]="skillForm" (ngSubmit)="addSkill()">
  <div mat-dialog-content>
    <div class="content_row">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="content_row">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Description</mat-label>
        <input matInput type="text" formControlName="description">
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="content_row">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Cost</mat-label>
        <input matInput type="number" formControlName="cost">
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Power</mat-label>
        <input matInput type="number" formControlName="skillPower">
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Level</mat-label>
        <mat-select formControlName="diceRollLevel">
          <mat-option *ngFor="let level of skillLevels" [value]="level.id">{{level.name}}</mat-option>
        </mat-select>
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
    </div>
    <div class="content_row">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Type</mat-label>
        <mat-select formControlName="skillType">
          <mat-option *ngFor="let types of skillTypes " [value]="types.id">
            {{types.name}}
          </mat-option>
        </mat-select>
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Skill Element</mat-label>
        <mat-select formControlName="skillElement">
          <mat-option *ngFor="let elements of elementTypes " [value]="elements.id">
            {{elements.name}}
          </mat-option>
        </mat-select>
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button type="button" mat-flat-button (click)="close()">Close</button>
    <button type="submit" mat-raised-button color="accent" (click)="addSkill()">{{data.isEdit === true ? 'Edit' :
      'Add'}}</button>
  </div>
</form>