<div class="main_content p-1" *ngIf="!selectedMember">
  <mat-card *ngFor="let party of partyMembers">
    <mat-card-content mat-ripple (click)="selectDemon(party)">
      <div class="flex-container information">
        <div class="">
          <div>
            <small>{{party.race}}</small>
            <h2>
              {{party.name}}
              <ng-container *ngIf="party.nickname !== null">
                ({{party.nickname}})
              </ng-container>
            </h2>
          </div>
          <span mat-card-subtitle>Lv. {{party.level}}</span>
        </div>
        <div class="flex-container flex-column">
          <div>
            <span>
              {{party.currentHP}}/{{party.totalHP}}
              <span>HP</span>
            </span>
            <mat-progress-bar [color]="'warn'" [value]=" (party.currentHP * 100) / party.totalHP">
            </mat-progress-bar>
          </div>
          <div>
            <span>
              {{party.currentMP}}/{{party.totalMP}}
              <span>MP</span>
            </span>
            <mat-progress-bar [value]="(party.currentMP * 100) / party.totalMP">
            </mat-progress-bar>
          </div>
          <div>
            <span>
              {{party.currentEXP}}/{{party.totalEXP}}
              <span>XP</span>
            </span>
            <mat-progress-bar color="accent" [value]="(party.currentEXP * 100) / party.totalEXP">
            </mat-progress-bar>
          </div>
        </div>
      </div>
      <div class="flex-container stats">
        <div class="stat_container">
          <span class="title">ST</span>
          <span>{{party.stats.ST}}</span>
        </div>
        <div class="stat_container">
          <span class="title">MA</span>
          <span>{{party.stats.MA}}</span>
        </div>
        <div class="stat_container">
          <span class="title">EN</span>
          <span>{{party.stats.EN}}</span>
        </div>
        <div class="stat_container">
          <span class="title">AG</span>
          <span>{{party.stats.AG}}</span>
        </div>
        <div class="stat_container">
          <span class="title">LU</span>
          <span>{{party.stats.LU}}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button style="width: 100%" (click)="openXPModal(party)">
        <mat-icon>add</mat-icon>
        Add EXP
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-container *ngIf="partyMembers.length === 0">
    <div class="text-center">
      <span>
        No Party Members
      </span>
    </div>
  </ng-container>
</div>
<div class="text-center" *ngIf="!selectedMember">
  <button mat-flat-button (click)="getAllDemons()">
    <mat-icon>refresh</mat-icon>
    Refresh Demon List
  </button>
</div>
<div class="p-1" *ngIf="selectedMember && !attackResult">
  <div class="flex-container">
    <button mat-icon-button (click)="returnToDemonList()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <small>{{selectedMember.race}}</small>
      <h1>{{selectedMember.name}}</h1>
    </div>
  </div>
  <form [formGroup]="combatDamageForm">
    <div class="mat-elevation-z2" style="margin-bottom: 1rem">
      <mat-selection-list #skills [multiple]="false">
        <mat-list-option
          [disabled]="skill.skillType !== 3 ? selectedMember.currentHP < skill.cost : selectedMember.currentMP < skill.cost"
          *ngFor="let skill of selectedMember.skills" [value]="skill">
          <div class="flex-container justify-between">
            <span>
              {{skill.name}}
            </span>
            <span>
              <span>{{skill.skillElement | enumConversion }}</span>
            </span>
            <span class="flex-container align-items-center">
              {{skill.cost}}
              <span class="cost_type {{skill.skillType === 3 ? 'mp_type' : 'hp_type'}}">
                {{skill.skillType === 3 ? 'MP' : 'HP'}}
              </span>
            </span>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="flex-container sections">
      <div class="section">
        <div class="section-content">
          <div class="flex-container flex-column">
            <mat-checkbox formControlName="isWeakness" [disabled]="
              skills.selectedOptions.selected[0] ? skills.selectedOptions.selected[0].value.skillType !== 3 : false">
              Weakness
            </mat-checkbox>
            <mat-checkbox formControlName="isFocus">
              {{skills.selectedOptions.selected[0] ? skills.selectedOptions.selected[0].value.skillType === 3 ?
              'Mind Charge' : 'Focus' : 'Focus'}}
            </mat-checkbox>
            <mat-checkbox formControlName="isMultiple">
              Multi-target
            </mat-checkbox>
            <div class="input-margin pad" *ngIf="combatDamageForm.get('isMultiple')?.value === true">
              <mat-form-field appearance="legacy">
                <mat-label>Quantidade de Inimigos</mat-label>
                <input formControlName="enemyQuantity" required min="1" type="number" matInput>
                <mat-error *ngIf="combatDamageForm.get('enemyQuantity')?.hasError('required')">This field is required.
                </mat-error>
                <mat-error *ngIf="combatDamageForm.get('enemyQuantity')?.hasError('min')">Minimum amount of enemies is
                  1.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-content">
          <div class="flex-container flex-column" *ngFor="let buff of buffs">
            <div class="flex-container checkbox_main">
              <div>
                <mat-checkbox [(ngModel)]="buff.selected" [ngModelOptions]="{standalone: true}"
                  matTooltip="{{buff.desc}}" matTooltipPosition="right">
                  {{buff.name}}
                </mat-checkbox>
              </div>
              <div *ngIf="buff.selected">
                <mat-form-field appearance="legacy">
                  <mat-label>Stacks</mat-label>
                  <input [(ngModel)]="buff.stacks" [ngModelOptions]="{standalone: true}" #input
                    [disabled]="!buff.selected" matInput type="number" max="2" min="0">
                  <mat-error *ngIf="+input.value > 2">
                    The number of max stacks is 2
                  </mat-error>
                  <mat-error *ngIf="+input.value < 0">
                    The number of min stacks is 0
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="section-content">
          <div class="flex-container flex-column" *ngFor="let debuff of debuffs">
            <div class="flex-container checkbox_main">
              <div>
                <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="debuff.selected"
                  matTooltip="{{debuff.desc}}" matTooltipPosition="right">
                  {{debuff.name}}
                </mat-checkbox>
              </div>
              <div class="input-margin" *ngIf="debuff.selected">
                <mat-form-field appearance="legacy">
                  <mat-label>Stacks</mat-label>
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="debuff.stacks" #input matInput type="number"
                    max="2" min="0">
                  <mat-error *ngIf="+input.value > 2">
                    The number of max stacks is 2
                  </mat-error>
                  <mat-error *ngIf="+input.value < 0">
                    The number of min stacks is 0
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="text-center p-1">
    <button mat-raised-button color="primary" (click)="attack()">ATTACK</button>
  </div>
</div>

<div *ngIf="attackResult" class="text-center">
  <div class="attack-results">
    <p class="damage">
      {{attackResult.attackStatus}}
    </p>
    <p *ngIf="attackResult.isCritical" class="critical">CRITICAL</p>
    <p *ngIf="attackResult.weakness" class="weak">WEAK</p>
    <p class="missed-attack" *ngIf="attackResult.missAttack">
      MISS
    </p>
  </div>
  <button mat-raised-button color="accent" (click)="returnToDemonList()">OK</button>
</div>