@import "@angular/material/prebuilt-themes/purple-green.css";
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  color: white;
}

@font-face {
  font-family: "ShinMegamiTensei";
  src: url("./assets/font/Megaten20XX.woff") format("woff");
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 1rem;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}
