@import "@angular/material/prebuilt-themes/purple-green.css";
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  color: white;
  color-scheme: dark;
}

@font-face {
  font-family: "ShinMegamiTensei";
  src: url("./assets/font/Megaten20XX.woff") format("woff");
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 1rem;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.actual-damage {
  font-size: 38px;
  user-select: none;
  font-weight: 600;
  margin-top: 1rem;
}

.dmg-animated {
  animation: damageAnim 500ms cubic-bezier(0, 0, 0.19, 0.97) both;
}

@keyframes damageAnim {
  10% {
    transform: translate3d(0px, 0, 0) scale(0.5) rotate(-15deg);
  }

  20% {
    transform: translate3d(0px, 0, 0) scale(0.8) rotate(-5deg);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0) scale(1) rotate(0);
  }
}

.header_container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.content_row {
  display: flex;
  box-sizing: border-box;
}

.content_row mat-form-field {
  padding: 0 0.5rem;
}

.content_row * {
  width: 100%;
}

.mr-1 {
  margin-right: 1rem !important;
}

.m-0 {
  margin: 0 !important;
}